---
http_interactions:
- request:
    method: get
    uri: https://app.zipcodebase.com/api/v1/radius?apikey=<ZIPCODE_API>&code=80211&country=us&radius=10&unit=miles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '4920'
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"code":"80211","unit":"miles","radius":"10","country":"us"},"results":[{"code":"80211","city":"Denver","state":"CO","city_en":null,"state_en":null,"distance":0},{"code":"80000","city":"Denver","state":null,"city_en":null,"state_en":null,"distance":1.37},{"code":"80212","city":"Denver","state":"CO","city_en":null,"state_en":null,"distance":1.54},{"code":"80202","city":"Denver","state":"CO","city_en":null,"state_en":null,"distance":1.82},{"code":"80256","city":"Denver","state":"CO","city_en":null,"state_en":null,"distance":1.97},{"code":"80266","city":"Denver","state":"CO","city_en":null,"state_en":null,"distance":2.03},{"code":"80294","city":"Denver",[...]
